
@{
    ViewData["Title"] = "Home";
}

<div class="home_div">
    <p id="Welcome">Welcome to VSFly</p>
    <p>Book <a class="bigWord" asp-area="" asp-controller="Flight" asp-action="Index">flights</a> at competitive price within a few clicks.</p>
    <p>
        Our <a class="bigWord" asp-area="" asp-controller="Statistic" asp-action="Search">statistics</a>
        make VSFly the ultimate flight comparator.
    </p>
    <br />

    <img src="~/image/takeOff.gif" id="takeOff" />
</div>

<style>
    .bigWord {
        font-size: 3vh;
    }

    #Welcome {
        font-size: 4vh;
    }

    .home_div {
        margin: auto;
        text-align: center;
        justify-content: center;
    }

        .home_div > p {
            font-size: 2.5vh;
        }

    #takeOff {
        border-radius: 10px;
        width: 75%;
        height: 75%;
        box-shadow: 3px 3px 15px;
    }
</style>

