@model MVCClient.Models.SearchM
@{
    ViewData["Title"] = "Search";
}
<h4>Enter a destination or a flight number to display statistics.</h4>
<br />
<form asp-action="Search">
    <input asp-for="SearchInput" type="search"/>
    <input type="submit" value="Search" class="btn btn-primary" />
</form>